body {padding:0 2%;margin:0 auto;font:200% sans-serif,Verdana;background-color:#fff;}
.backBlack{background-color:#000;}


	#box 
	{
	  position: relative;
	  background: #ddd;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  padding: 1em .5em;
	  color: rgb(51,138,0);
	  /*text-shadow: 0 1px 0 #000;*/
		font-weight:bold;
		margin:4% 0;
	}


	#box:before, #box:after 
	{
	  z-index: -1; 
	  position: absolute; 
	  content: "";
	  bottom: 15px;
	  left: 10px;
	  width: 50%; 
	  top: 80%;
	  max-width:300px;
	  background: rgba(0,0,0, 0.7); 
	  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
	  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	  -webkit-transform: rotate(-3deg);    
	  -moz-transform: rotate(-3deg);   
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}

	#box:after 
	{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}	

h1{font:bold 125% Verdana,sans-serif;margin:0 -2.1% 1% -2.1%;padding:1% 2%;}
h2{font:bold 90% Verdana,sans-serif;margin:0 -2.1% 1% -2.1%;padding:1% 2% 2% 2%;}
h1.glo{
background: -webkit-gradient(linear, left center, right center, from(rgb(51,138,0)), to(#fff)); /* for webkit browsers */
background: -moz-linear-gradient(left, rgb(51,138,0),  #fff); /* for firefox 3.6+ */ 
color:#fff;
text-shadow: rgb(51,138,0) 3px 3px 1px;
}

p{margin:0 0 2% 0;}
p img.streched{width:100%;}
a span{font-size:1px;}

b.colored{color:rgb(51,138,0);text-shadow:.5px .5px 0 #000;}

ul{margin:0;padding:2% 2% 0 7%;}
ul li{padding:0 0 2% 3%;}

/* img{width:101%;} */
.clearBoth{clear:both;height:1px;font-size:1px;}

.ribbon {
 font-size: .9em;
 width: 80%;
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: .5em .5em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
 text-shadow:2px 2px 0 #000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
 
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

h2{background-color:rgb(51,138,0);color:#fff;text-shadow:1px 1px 0 #CCCCCC, 2px 2px 0 #CCCCCC, 3px 3px 0 #444444, 4px 4px 0 #444444, 5px 5px 15px #999999}

h3,h4{
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
	color:rgb(51,138,0);
	font-weight:bold;
	text-align:left;
	float:none;
	padding:0;
	margin:inherit;
	border:none;
	font-size:90%;
	padding:0 0 1% 0;
	margin:1% 0;
	text-shadow:.5px .5px 0 #000;
}

h3{
	font-size:100%;
	border-bottom:2px solid rgb(51,138,0);
}


p.hlp{
background: -webkit-gradient(linear, left top, left bottom, from(rgb(186,137,182)), to(#fff)); /* for webkit browsers */
background: -moz-linear-gradient(top, rgb(186,137,182),  #fff); /* for firefox 3.6+ */ 
color:#000;
border:2px solid rgb(186,137,182);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
p.hlp b.title{
color:#fff; border-bottom:2px solid #fff;display:block;margin:0 0 1% 0;padding:1% 1% .5% 1%; 
}
p a:link,p a:visited{color:rgb(51,138,0);}
/*
p.decksL{
background: -webkit-gradient(linear, left center, right center, from(rgba(51,138,0,.2)), to(rgba(255,255,255,.2))); 
background: -moz-linear-gradient(left, rgba(51,138,0,.2),  rgba(255,255,255,.2));
}
p.decksR{
background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,.2)), to(rgba(51,138,0,.2)));
background: -moz-linear-gradient(left, rgba(255,255,255,.2),rgba(51,138,0,.2));
}
*/
